rdc-dev-azdf/PartialArmTemplates/ArmTemplate_4_23_2020_0_13_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_AP_INVOICE_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_AP_INVOICE_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_AP_INVOICE_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AP_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AP_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATCH_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "MATCH_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_BASE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_BASE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY_INVOICED",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY_INVOICED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_UOM",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_UOM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTER_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUESTER_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUESTER_EMAIL_ADDRESS",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_EMAIL_ADDRESS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINE_ID",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AP_INVOICE_LINES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_AP_INVOICE_LINES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_POR_APPROVAL_STATUS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_POR_APPROVAL_STATUS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_POR_APPROVAL_STATUS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "POR_DOCUMENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "POR_DOCUMENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "POR_APPROVER",
											"type": "String"
										},
										"sink": {
											"name": "POR_APPROVER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POR_APPROVER_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "POR_APPROVER_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POR_SEQUENCE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "POR_SEQUENCE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "POR_APPROVAL_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "POR_APPROVAL_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POR_APPROVAL_LABEL",
											"type": "String"
										},
										"sink": {
											"name": "POR_APPROVAL_LABEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POR_APPROVAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "POR_APPROVAL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "POR_APPROVAL_NOTES",
											"type": "String"
										},
										"sink": {
											"name": "POR_APPROVAL_NOTES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_POR_APPROVAL_STATUS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_POR_APPROVAL_STATUS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_ACTION_HISTORY_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_ACTION_HISTORY_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_ACTION_HISTORY_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ROW_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "ROW_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OBJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "OBJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OBJECT_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "OBJECT_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OBJECT_SUB_TYPE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "OBJECT_SUB_TYPE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEQUENCE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "SEQUENCE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ACTION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ACTION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACTION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "EMPLOYEE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "APPROVAL_PATH_ID",
											"type": "Double"
										},
										"sink": {
											"name": "APPROVAL_PATH_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NOTE",
											"type": "String"
										},
										"sink": {
											"name": "NOTE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OBJECT_REVISION_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "OBJECT_REVISION_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OFFLINE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "OFFLINE_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIGINAL_APPROVAL_ACTION",
											"type": "String"
										},
										"sink": {
											"name": "ORIGINAL_APPROVAL_ACTION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_ACTION_HISTORY_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_ACTION_HISTORY_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_DISTRIBUTIONS_BRDG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_DISTRIBUTIONS_BRDG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_DISTRIBUTIONS_BRDG",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_DISTRIBUTIONS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_DISTRIBUTIONS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_DISTRIBUTIONS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BILL_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUESTOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "GL_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_COST_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "GL_COST_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_COST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "GL_COST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "RECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE_L",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE_L",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_ORDERED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_ORDERED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_BILLED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_BILLED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_CANCELLED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_CANCELLED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_DELIVERED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_DELIVERED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_REMAINING_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_REMAINING_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "STATUS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PL_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PL_CLOSED_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlUpdate_PartyAccountSite",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy BIA_PO_DISTRIBUTIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlUpdate_PartyAccountSite]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_HEADERS_ARCHIVE_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_HEADERS_ARCHIVE_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_HEADERS_ARCHIVE_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AGENT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AGENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SUMMARY_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SUMMARY_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENABLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ENABLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "AUTHORIZATION_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "AUTHORIZATION_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVISION_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "REVISION_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REVISED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "REVISED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "APPROVED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "APPROVED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "APPROVED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "APPROVED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LATEST_EXTERNAL_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "LATEST_EXTERNAL_FLAG",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_HEADERS_ARCHIVE_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_HEADERS_ARCHIVE_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_HEADERS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_HEADERS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_HEADERS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_AGENT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_AGENT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_BUYER_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_BUYER_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_BUYER_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "PO_BUYER_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_BUYER_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_BUYER_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_MATCHING",
											"type": "Double"
										},
										"sink": {
											"name": "PO_MATCHING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_ENABLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "PO_ENABLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "PO_CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_SHIP_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_SHIP_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_BILL_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_BILL_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_AUTHORIZATION_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "PO_AUTHORIZATION_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_WORK_STARTED",
											"type": "String"
										},
										"sink": {
											"name": "PR_WORK_STARTED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_REQUISITION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "PR_REQUISITION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "PR_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_APPROVED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "PO_APPROVED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_APPROVED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PO_APPROVED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PO_NOTE_TO_AUTHORIZER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NOTE_TO_AUTHORIZER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_NOTE_TO_VENDOR",
											"type": "String"
										},
										"sink": {
											"name": "PO_NOTE_TO_VENDOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_NOTE_TO_RECEIVER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NOTE_TO_RECEIVER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_WF_ITEM_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "PO_WF_ITEM_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_WF_ITEM_KEY",
											"type": "String"
										},
										"sink": {
											"name": "PO_WF_ITEM_KEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_SUBMIT_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PO_SUBMIT_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PO_LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PO_LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PO_VENDOR_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_VENDOR_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_VENDOR_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_VENDOR_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PR_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_TOTAL_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PO_TOTAL_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "PO_HEADER_DESCRIPTION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_HEADERS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_HEADERS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_LINES_ARCHIVE_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_LINES_ARCHIVE_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_LINES_ARCHIVE_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ITEM_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_REVISION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_REVISION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "Double"
										},
										"sink": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CANCEL_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCEL_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED_BY",
											"type": "Decimal"
										},
										"sink": {
											"name": "CANCELLED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CANCEL_REASON",
											"type": "String"
										},
										"sink": {
											"name": "CANCEL_REASON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REVISION_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "REVISION_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLOSED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "CLOSED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CLOSED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CLOSED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CLOSED_REASON",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED_REASON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORDER_TYPE_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_TYPE_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASE_BASIS",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASE_BASIS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATCHING_BASIS",
											"type": "String"
										},
										"sink": {
											"name": "MATCHING_BASIS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BASE_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "BASE_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LATEST_EXTERNAL_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "LATEST_EXTERNAL_FLAG",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_LINES_ARCHIVE_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_LINES_ARCHIVE_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_TYPE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LINE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORY_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CATEGORY_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LINE_CANCEL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LINE_CANCEL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LINE_CANCEL_REASON",
											"type": "String"
										},
										"sink": {
											"name": "LINE_CANCEL_REASON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PURCHASE_BASIS",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASE_BASIS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATCHING_BASIS",
											"type": "String"
										},
										"sink": {
											"name": "MATCHING_BASIS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LINE_UOM",
											"type": "String"
										},
										"sink": {
											"name": "LINE_UOM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FIRST_LINE_APPROVAL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "FIRST_LINE_APPROVAL_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_LINES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_LINES_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_REQUISITION_DIST_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_REQUISITION_DIST_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_REQUISITION_DIST_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SET_OF_BOOKS_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SET_OF_BOOKS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_LOCATION_ID",
											"type": "String"
										},
										"sink": {
											"name": "GL_LOCATION_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_QUANTITY",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_LINE_QUANTITY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_LINE_UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_BASE_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_LINE_BASE_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_MEAS_LOOKUP_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TO_PERSON_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TO_PERSON_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_QUANTITY_DELIVERED",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_LINE_QUANTITY_DELIVERED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_LINE_QUANTITY_CANCELLED",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_LINE_QUANTITY_CANCELLED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_CANCELLED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_CANCELLED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE2",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE3",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE4",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATTRIBUTE15",
											"type": "String"
										},
										"sink": {
											"name": "ATTRIBUTE15",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_CLOSED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "GL_CLOSED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ALLOCATION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ALLOCATION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ALLOCATION_VALUE",
											"type": "Double"
										},
										"sink": {
											"name": "ALLOCATION_VALUE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_RELATED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "PROJECT_RELATED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REQ_DIST_RECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DIST_RECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQ_DIST_NONRECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DIST_NONRECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECOVERY_RATE",
											"type": "Double"
										},
										"sink": {
											"name": "RECOVERY_RATE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TAX_RECOVERY_OVERRIDE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "TAX_RECOVERY_OVERRIDE_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATED_IN_PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_IN_PERIOD_NAME",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_REQUISITION_DIST_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_REQUISITION_DIST_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_REQUISITION_HEADERS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_REQUISITION_HEADERS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_REQUISITION_HEADERS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUISITION_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PREPARER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PREPARER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PR_REQUESTOR_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PR_REQUESTOR_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_REQUESTOR_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "PR_REQUESTOR_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_REQUESTOR_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PR_REQUESTOR_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUISITION_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "REQUISITION_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENABLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ENABLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "Double"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PR_CREATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PR_CREATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_CREATEDBY_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PO_CREATEDBY_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUISITION_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "REQUISITION_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_NOTE_TO_AUTHORIZER",
											"type": "String"
										},
										"sink": {
											"name": "PR_NOTE_TO_AUTHORIZER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_AUTHORIZATION_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "PR_AUTHORIZATION_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_WORK_STARTED",
											"type": "String"
										},
										"sink": {
											"name": "PR_WORK_STARTED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_REQUISITION_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "PR_REQUISITION_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "PR_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PR_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PR_ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PR_WF_ITEM_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "PR_WF_ITEM_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_WF_ITEM_KEY",
											"type": "String"
										},
										"sink": {
											"name": "PR_WF_ITEM_KEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_EMERGENCY_PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PR_EMERGENCY_PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PR_APPROVED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PR_APPROVED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PR_LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PR_LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_REQUISITION_HEADERS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_REQUISITION_HEADERS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_BIA_PO_SHIPMENTS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_SHIPMENTS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_SHIPMENTS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LINE_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PO_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ORG_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORG_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_MATCH",
											"type": "String"
										},
										"sink": {
											"name": "PO_MATCH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLOSED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CLOSED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCEL_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCEL_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CANCEL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "EMPLOYEE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLOSED_FOR_INVOICE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CLOSED_FOR_INVOICE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NEED_BY_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "NEED_BY_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PROMISED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PROMISED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LAST_ACCEPT_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_ACCEPT_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "APPROVED_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "APPROVED_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SHIPMENT_NUM",
											"type": "Double"
										},
										"sink": {
											"name": "SHIPMENT_NUM",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_SHIPMENTS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_SHIPMENTS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_PurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_PO_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_SHIPMENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_SHIPMENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_DISTRIBUTIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_SHIPMENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_DISTRIBUTIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_AP_INVOICE_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AP_INVOICE_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_LINES_ARCHIVE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_LINES_ARCHIVE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_REQUISITION_DIST_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_REQUISITION_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_REQUISITION_DIST_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_POR_APPROVAL_STATUS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_REQUISITION_DIST_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_POR_APPROVAL_STATUS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_DISTRIBUTIONS_BRDG",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_DISTRIBUTIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_ACTION_HISTORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_LINES_ARCHIVE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_ACTION_HISTORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "pipe_BIA_PO_REQUISITION_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AP_INVOICE_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_REQUISITION_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_HEADERS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_LINES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_SHIPMENTS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_DISTRIBUTIONS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_AP_INVOICE_LINES_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_HEADERS_ARCHIVE_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_LINES_ARCHIVE_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_REQUISITION_DIST_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_POR_APPROVAL_STATUS_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_DISTRIBUTIONS_BRDG')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_ACTION_HISTORY_V')]",
				"[concat(variables('factoryId'), '/pipelines/pipe_BIA_PO_REQUISITION_HEADERS_V')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_oac_to_aoac_BIA_PO_DISTRIBUTIONS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_PO_DISTRIBUTIONS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.BIA_PO_DISTRIBUTIONS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "oac_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OAC Pipelines/Once off load from OAC"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_AP_INVOICE_LINES_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_AP_INVOICE_LINES_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_AP_INVOICE_LINES_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62\n\tOR ACCOUNTING_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_AP_INVOICE_LINES_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AP_HEADER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "AP_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LINE_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_NUMBER",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MATCH_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "MATCH_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_BASE_AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "INVOICE_LINE_BASE_AMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QUANTITY_INVOICED",
											"type": "Double"
										},
										"sink": {
											"name": "QUANTITY_INVOICED",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVOICE_LINE_UOM",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE_LINE_UOM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EXPENDITURE_ITEM_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "REQUESTER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTER_FULL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_FULL_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUESTER_LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_LAST_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQUESTER_EMAIL_ADDRESS",
											"type": "String"
										},
										"sink": {
											"name": "REQUESTER_EMAIL_ADDRESS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_ADDRESS3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_COUNTY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_TO_STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AP_LINE_ID",
											"type": "String"
										},
										"sink": {
											"name": "AP_LINE_ID",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_AP_INVOICE_LINES_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_AP_INVOICE_LINES_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_AP_INVOICE_LINES_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_AP_INVOICE_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_AP_INVOICE_LINES_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "EBS 2 AzureOAC Pipelines - Stage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_PO_DISTRIBUTIONS_BRDG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_PO_DISTRIBUTIONS_BRDG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_PO_DISTRIBUTIONS_BRDG\nWHERE  LAST_UPDATE_DATE >= sysdate -622;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_PO_DISTRIBUTIONS_BRDG",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_PO_DISTRIBUTIONS_BRDG",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_PO_DISTRIBUTIONS_BRDG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_PO_DISTRIBUTIONS_BRDG]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "EBS 2 AzureOAC Pipelines - Stage"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_stage_BIA_PO_DISTRIBUTIONS_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_PO_DISTRIBUTIONS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT * FROM APPS.BIA_PO_DISTRIBUTIONS_V\nWHERE  LAST_UPDATE_DATE >= sysdate -62;",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE OACPROD.stage_BIA_PO_DISTRIBUTIONS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINE_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LINE_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_HEADER_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_HEADER_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PO_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "VENDOR_SITE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "VENDOR_SITE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "SHIP_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BILL_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "REQUESTOR_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQUESTOR_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DELIVER_TO_LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "DESTINATION_ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PROJECT_ID",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TASK_ID",
											"type": "Double"
										},
										"sink": {
											"name": "TASK_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "EXPENDITURE_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GL_LOCATION",
											"type": "String"
										},
										"sink": {
											"name": "GL_LOCATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_COST_CLASS",
											"type": "String"
										},
										"sink": {
											"name": "GL_COST_CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GL_COST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "GL_COST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "NONRECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RECOVERABLE_TAX",
											"type": "Double"
										},
										"sink": {
											"name": "RECOVERABLE_TAX",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE_L",
											"type": "Double"
										},
										"sink": {
											"name": "UNIT_PRICE_L",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_ORDERED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_ORDERED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_BILLED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_BILLED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_CANCELLED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_CANCELLED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_DELIVERED_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_DELIVERED_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "QTY_REMAINING_DL",
											"type": "Double"
										},
										"sink": {
											"name": "QTY_REMAINING_DL",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "STATUS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "STATUS_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "REQ_DISTRIBUTION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PO_CLOSED_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PL_CLOSED_CODE",
											"type": "String"
										},
										"sink": {
											"name": "PL_CLOSED_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "aoac_stage_BIA_PO_DISTRIBUTIONS_V",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "etlMerge_BIA_PO_DISTRIBUTIONS_V",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_PO_DISTRIBUTIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlMerge_BIA_PO_DISTRIBUTIONS_V]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "etlUpdate_PartyAccountSite",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "etlMerge_BIA_PO_DISTRIBUTIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[OACPROD].[etlUpdate_PartyAccountSite]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "EBS 2 AzureOAC Pipelines - Stage"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}