rdc-dev-azdf/linkedTemplates/ArmTemplate_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "rdc-dev-azdf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stage_BIA_POWER_KW_ENCL_MONTH_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.stage_BIA_POWER_KW_ENCL_MONTH_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PERIOD_MONTH",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD_MONTH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLIENT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "CLIENT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOC_PATH",
											"type": "String"
										},
										"sink": {
											"name": "LOC_PATH",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AVG_SQUARE_FEET_INUSE",
											"type": "Double"
										},
										"sink": {
											"name": "AVG_SQUARE_FEET_INUSE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "IIC_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "IIC_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BILL_CONTRACT_LINE_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "OFIN_CUSTOMER_NUMBER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AVG_KW_READING_VALUE",
											"type": "Double"
										},
										"sink": {
											"name": "AVG_KW_READING_VALUE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "KWH",
											"type": "Double"
										},
										"sink": {
											"name": "KWH",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BILL_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "BILL_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SF_BUILT",
											"type": "Double"
										},
										"sink": {
											"name": "SF_BUILT",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "etlUpdate_PowerEnclMonth_PostUpdates",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "stage_BIA_POWER_KW_ENCL_MONTH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[xCAMP].[etlUpdate_PowerEnclMonth_PostUpdates]"
						},
						"linkedServiceName": {
							"referenceName": "ls_dwStageOAC",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Pipe xCAMP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_CAMP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to run all CAMP related pipelines \ntest pull request and branch merge h",
				"activities": [
					{
						"name": "pipe_BIA_ORGANIZATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_ORGANIZATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_FLEX_RWT_PROJECT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_ORGANIZATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_FLEX_RWT_PROJECT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_GL_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_stage_BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_CAMP_CATEGORY_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_stage_BIA_POWER_KW_ENCL_MONTH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_FLEX_RWT_PROJECT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_GL_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_stage_BIA_GL_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_CODE_COMBINATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_CAMP_CATEGORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CAMP_CATEGORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_POWER_KW_CONTRACT_LINE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_oac_to_aoac_BIA_POWER_KW_CONTRACT_LINE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_stage_BIA_POWER_KW_ENCL_MONTH_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_stage_BIA_POWER_KW_CONTRACT_LINE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_oac_to_aoac_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe CAMP"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_GeneralLedger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BIA_GL_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BIA_GL_ACCOUNTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_CODE_COMBINATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_BATCHES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_DEPARTMENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_LOCATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "BIA_GL_PERIODS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BIA_GL_SOB_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_ACCOUNTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_ACCOUNTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_CODE_COMBINATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_CODE_COMBINATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_BATCHES_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_BATCHES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_DEPARTMENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_DEPARTMENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_LOCATIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LOCATIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BIA_GL_PERIODS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_PERIODS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_SOB_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_SOB_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_LINES_AR_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LINES_AR_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_GL_LINES_CAMP_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_GL_LINES_CAMP_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "pipe GeneralLedger"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_GeneralLedgerJournals')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BICS_GL_JOURNALS_BATCH_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_BATCH_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_DTL_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_DTL_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_HEADER_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_GL_JOURNALS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_GL_JOURNALS_DTL_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "pipe_BICS_GL_JOURNALS_BATCH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_HEADER_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BICS_GL_JOURNALS_LINE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BICS_GL_JOURNALS_HEADER_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BICS_GL_JOURNALS_LINE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "pipe GeneralLedger"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_PurchaseOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipe_BIA_PO_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_SHIPMENTS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_SHIPMENTS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_DISTRIBUTIONS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_SHIPMENTS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_DISTRIBUTIONS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_AP_INVOICE_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_AP_INVOICE_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_LINES_ARCHIVE_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_HEADERS_ARCHIVE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_LINES_ARCHIVE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_REQUISITION_DIST_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_REQUISITION_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_REQUISITION_DIST_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_POR_APPROVAL_STATUS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_REQUISITION_DIST_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_POR_APPROVAL_STATUS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_DISTRIBUTIONS_BRDG",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_DISTRIBUTIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_DISTRIBUTIONS_BRDG",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_ACTION_HISTORY_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_PO_LINES_ARCHIVE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_ACTION_HISTORY_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pipe_BIA_PO_REQUISITION_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pipe_BIA_AP_INVOICE_LINES_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_BIA_PO_REQUISITION_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "pipe PurchaseOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe_xCAMP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy BIA_ORGANIZATIONS_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.BIA_ORGANIZATIONS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORGANIZATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "ORGANIZATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "BUSINESS_GROUP_ID",
											"type": "Double"
										},
										"sink": {
											"name": "BUSINESS_GROUP_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCATION_ID",
											"type": "Double"
										},
										"sink": {
											"name": "LOCATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "LOCATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS_LINE_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS_LINE_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_3",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS_LINE_3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION_1",
											"type": "String"
										},
										"sink": {
											"name": "REGION_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION_2",
											"type": "String"
										},
										"sink": {
											"name": "REGION_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION_3",
											"type": "String"
										},
										"sink": {
											"name": "REGION_3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTAL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "POSTAL_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOWN_OR_CITY",
											"type": "String"
										},
										"sink": {
											"name": "TOWN_OR_CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATE_FROM",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE_FROM",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATE_TO",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE_TO",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OBJECT_VERSION_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "OBJECT_VERSION_NUMBER",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_ORGANIZATIONS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_BIA_ORGANIZATIONS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy BIA_FLEX_RWT_PROJECT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy BIA_ORGANIZATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.BIA_FLEX_RWT_PROJECT",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FLEX_VALUE_SET_NAME",
											"type": "String"
										},
										"sink": {
											"name": "FLEX_VALUE_SET_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLEX_VALUE",
											"type": "String"
										},
										"sink": {
											"name": "FLEX_VALUE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ENABLED_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "ENABLED_FLAG",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SUMMARY_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "SUMMARY_FLAG",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_FLEX_RWT_PROJECT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_BIA_FLEX_RWT_PROJECT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy BIA_GL_CODE_COMBINATIONS_V",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy BIA_GL_CAMP_CATEGORY_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.BIA_GL_CODE_COMBINATIONS_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CODE_COMBINATION_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CHART_OF_ACCOUNTS_ID",
											"type": "Decimal"
										},
										"sink": {
											"name": "CHART_OF_ACCOUNTS_ID",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SEGMENT1",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG1_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG1_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT2",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG2_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG2_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT3",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG3_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG3_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT4",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG4_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG4_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT5",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG5_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG5_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT6",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG6_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG6_DESC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEGMENT7",
											"type": "String"
										},
										"sink": {
											"name": "SEGMENT7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEG7_DESC",
											"type": "String"
										},
										"sink": {
											"name": "SEG7_DESC",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_GL_CODE_COMBINATIONS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_BIA_GL_CODE_COMBINATIONS_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy BIA_GL_CAMP_CATEGORY_V",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE xCAMP.BIA_GL_CAMP_CATEGORY_V",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CAMP_ACCOUNT_CODE",
											"type": "Double"
										},
										"sink": {
											"name": "CAMP_ACCOUNT_CODE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "RDC_ACCOUNT_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "RDC_ACCOUNT_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NTT_ACCOUNT_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "NTT_ACCOUNT_CATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIG_ACCOUNT_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "ORIG_ACCOUNT_CATEGORY",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ebs_BIA_GL_CAMP_CATEGORY_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "xCAMP_BIA_GL_CAMP_CATEGORY_V",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "stage BIA_GL_HEADERS_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_xCAMP_stage_BIA_GL_HEADERS_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "stage BIA_GL_LINES_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy BIA_FLEX_RWT_PROJECT",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy BIA_GL_CODE_COMBINATIONS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "stage BIA_GL_HEADERS_V",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "stage BIA_POWER_KW_ENCL_MONTH_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_xCAMP_stage_BIA_GL_LINES_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "stage BIA_POWER_KW_CONTRACT_LINE_V",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_xCAMP_stage_BIA_POWER_KW_CONTRACT_LINE_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "stage BIA_POWER_KW_ENCL_MONTH_V",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "stage BIA_POWER_KW_CONTRACT_LINE_V",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipe_xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "Pipe xCAMP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipe_xCAMP_stage_BIA_POWER_KW_ENCL_MONTH_V')]"
			]
		}
	]
}